<!Doctype html>
<html>
<head>
	
	<!-- Level 7: using static files -->
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>


<!-- Level 3 : passing data to templates -->
<p>
The id is :<br>
<%= id %>
</p>


<!-- Level 4 : consitionals -->
<p>
<%if (data.in_stock) { %>
The product is in stock
<% } %>
</p>

<h2>Orders: </h2>

<!-- Level 5 : looping through list : -->

<ul>

<% data.orders_id.forEach(function(item){ %>
	<li> <%= item %> </li>
<% }); %>

</ul>


<!-- Level 6 : Partial views -->
<%- include("partials/navbar.ejs") %>
</body>
</html>